[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true

[[source]]
name = "tuna_pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"
pylint-django = "*"

[packages]
django = "*"
django-allauth = "*"
django-filters = "*"
django-filter = "*"
channels = "*"
twisted = "*"
gunicorn = "*"
gevent = "*"
amqp = "*"
djangorestframework = "*"
eventlet = "*"
meinheld = "*"
django-apscheduler = "*"
dj-rest-auth = {extras = ["with_social"],version = "*"}
djangorestframework-guardian = "*"
django-rest-passwordreset = "*"
django-guardian = "*"
django-elasticsearch-dsl-drf = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.8"
