[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true

[[source]]
name = "tuna_pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-allauth = "*"
django-filters = "*"
django-filter = "*"
django-simpleui = "*"
celery = {extras = ["librabbitmq"],version = "*"}
channels = "*"
twisted = "*"
gunicorn = "*"
gevent = "*"
amqp = "*"
djangorestframework = "*"
django-rest-auth = "*"
django-celery-beat = "*"
eventlet = "*"
django-celery-results = "*"
psycopg2-binary = "*"
meinheld = "*"

[requires]
python_version = "3.8"
